/**
 * @Author: Jahidul Haque Shanto
 * @Date:   2023-11-13 11:33:11
 * @Last Modified by:   Jahidul Haque Shanto
 * @Last Modified time: 2023-11-13 11:33:18
 */
.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}